@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');


.personal-info-container {
  font-family: 'Kanit', sans-serif;
}

.personal-info-container .Header-textpersonal {
  display: flex;
  font-size: 6vw;
  font-weight: 600;
  color: #616edf;
  margin: 24px 0 16px;
  justify-content: center;
  padding: 0 20px;
}

.personal-info-container .Box-personal {
  justify-self: center;
  background: #ffffff;
  width: 50%;
  height: 100%;
  padding: 20px;
  margin: 0 15px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.personal-info-container .label {
  display: block;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 500;
}

.personal-info-container .input-box {
  width: 50%;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  margin-bottom: 12px;
  outline: none;
}

.personal-info-container .input-box:focus {
  border-color: #6366f1;
}

/* ✅ ปุ่มถัดไป */
.personal-info-container .next-button {
  background: #cbd5e1;
  color: white;
  border: none;
  padding: 12px 26px;
  font-size: 18px;
  border-radius: 10px;
  cursor: not-allowed;
  opacity: 0.6;
  transition: 0.25s;
}

.personal-info-container .next-button.active {
  background: #4f46e5;
  cursor: pointer;
  opacity: 1;
}

.personal-info-container .next-button.active:hover {
  background: #4338ca;
}
.personal-info-container .idcard-container {
  display: flex;
  gap: 6px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.personal-info-container .idcard-box {
  width: 35px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  outline: none;
}

.personal-info-container .idcard-box:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 3px #6366f1;
}